@import url('https://fonts.googleapis.com/css2?family=Poppins:wgth@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background: #223243;
}

.container .batch_table  
{
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 40px;
    top: 50px;
    width: 700px;
    max-height: 600px;
    gap: 20px;
    right: 40px;
    color: #fff;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    overflow: scroll;
}

.container .batch_table table
{
    border: 5px solid #00dfc4;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
}

.container .batch_table table caption
{
    color: #00dfc4;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 2em;
    letter-spacing: 0.05em;
    text-shadow:
    8px 8px 6px rgba(16, 16, 16, 0.753);
}

.container .batch_table th
{
    font-size: 1.3em;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 5px double  #00dfc4;
}

.container .batch_table tr
{
    padding: 15px;
    color: #fff;
    text-align: center;
}

.container .batch_table td
{
    padding: 8px;
    color: #fff;
    border-bottom: 2px dotted #00dfc4;
    cursor: pointer;
}

.container .batch_table td a 
{
    text-decoration: none;
}

.button
{
    display: flex;
    position: absolute;
    top: 150px;
    left: 50px;
    width: 700px;
    justify-content: space-around;
}

.button a
{
    text-decoration: none;
}

.button input
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.box
{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translateY(-500%);
}

.box.active
{
 
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(0%);
    transition: smooth;
}

.box h1
{
    color: #00dfc4;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    gap: 10px;
    text-shadow:
    8px 8px 6px rgba(16, 16, 16, 0.753);
    pointer-events: none;
    margin-bottom: 15px;
}
.box input
{
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 0px;
    width: 50%;
    height: 30px;
    outline: none;
    color: #fff;
    background-color: #223243;
}

.box input[type="submit"]
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.box .cut
{
    position: fixed;
    font-size: 2.2em;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding-right: 8px;
    inset: hidden;
    color: #00dfc4;
}

.box1
{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(-500%);
}

.box1.active
{
 
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(0%);
    transition: smooth;
}

.box1 h1
{
    color: #00dfc4;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    gap: 10px;
    text-shadow:
    8px 8px 6px rgba(16, 16, 16, 0.753);
    pointer-events: none;
    margin-bottom: 15px;
}
.box1 input[type="text"]
{
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 0px;
    width: 50%;
    height: 30px;
    outline: none;
    color: #fff;
    background-color: #223243;
}

.box1 input[type="submit"]
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.box1 .cut
{
    position: fixed;
    font-size: 2.2em;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding-right: 8px;
    inset: hidden;
    color: #00dfc4;
}

.del input
{
    position: absolute;
    top: 80px;
    left: 300px;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.box4
{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(-500%);
}

.box4.active
{
 
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(0%);
    transition: smooth;
}

.box4 h1
{
    color: #00dfc4;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    gap: 10px;
    text-shadow:
    8px 8px 6px rgba(16, 16, 16, 0.753);
    pointer-events: none;
    margin-bottom: 15px;
}
.box4 input[type="number"]
{
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 0px;
    width: 50%;
    height: 30px;
    outline: none;
    color: #fff;
    background-color: #223243;
}

.box4 input[type="submit"]
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.box4 .cut
{
    position: fixed;
    font-size: 2.2em;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding-right: 8px;
    inset: hidden;
    color: #00dfc4;
}

.icon form
{
    position: absolute;
    bottom: 30px;
    width: 700px;
    right: 40px;
    color: #00dfc4;
    display: flex;
    justify-content: space-between;
}

.icon input[type="submit"]
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 150px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.icon input[type="number"]
{
    display: none;
}

.icon input[type="button"]
{
    width: 0px;
    border: none;
}

.icon h2
{
    position: absolute;
    right: 50%;
    bottom: 4px;
    color: white;
}



/* //////////////////////// */
/* //////////////////////// */
/* //////////////////////// */
/* //////////////////////// */
/* //////////////////////// */

.cubemain
{
    position: absolute;
    height: 422px;
    width: 700px;
    left: 0px;
    bottom: 34px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.cube
{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: cubic 4s linear infinite;
}

@keyframes cubic 
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00dfc4;
    box-shadow: inset 5px 10px 50px  #222;
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    display: grid;
    justify-content: center;
    align-items: center;
    color: #223243;
}

.top    
{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #00dfc4;
    box-shadow: inset 5px 10px 200px  #222;
    transform: rotateX(90deg) translateZ(100px);
    display: grid;
    justify-content: center;
    background-color: #005a51;
    align-items: center;
    color: #223243;
}

.top::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    font-size: 0.1em;
    background: #00dfc4;
    transform: translateZ(-250px);
    filter: blur(20px);
    box-shadow: 0 0 120px  rgb(0, 109, 97),
    0 0 150px  rgb(0, 153, 135),
    0 0 200px #00b39e,
    0 0 250px #01d1b9;
}

.cube div span h1
{
    text-align: center;
}



.container1 .batch_table  
{
    position: absolute;
    display: grid;
    justify-content: center;
    padding: 40px;
    top: 50px;
    width: 950px;
    max-height: 600px;
    gap: 20px;
    right: 40px;
    color: #fff;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    overflow: scroll;
    pointer-events: none;
}

.container1 .batch_table table
{
    border: 5px solid #00dfc4;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
}

.container1 .batch_table table caption
{
    color: #00dfc4;
    font-weight: 700;
    padding-bottom: 20px;
    font-size: 2em;
    letter-spacing: 0.05em;
    text-shadow:
    8px 8px 6px rgba(16, 16, 16, 0.753);
}

.container1 .batch_table th
{
    font-size: 1.3em;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-bottom: 5px double  #00dfc4;
}

.container1 .batch_table tr
{
    padding: 15px;
    color: #fff;
    text-align: center;
}

.container1 .batch_table td
{
    padding: 8px;
    color: #fff;
    border-bottom: 2px dotted #00dfc4;
}

.container1 .batch_table td a 
{
    text-decoration: none;
}

.button1
{
    display: grid;
    position: absolute;
    top: 50px;
    left: 150px;
    justify-content: center;
}

.button1 a
{
    text-decoration: none;
}

.button1 input
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
    margin-bottom: 20px;
}

.box2
{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 200px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translateY(-500%);
}

.box2.active
{
 
    position: absolute;
    top: 50px;
    left: 50px;
    width: 490px;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(0%);
    transition: smooth;
}

.box2 h1
{
    color: #00dfc4;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    gap: 10px;
    text-shadow:
    8px 8px 6px rgba(16, 16, 16, 0.753);
    pointer-events: none;
    margin-bottom: 15px;
}
.box2 input
{
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 0px;
    width: 50%;
    height: 30px;
    outline: none;
    color: #fff;
    background-color: #223243;
}

.box2 input[type="submit"]
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.box2 .cut
{
    position: fixed;
    font-size: 2.2em;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding-right: 8px;
    inset: hidden;
    color: #00dfc4;
}

.box3
{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(-500%);
}

.box3.active
{
 
    position: absolute;
    top: 50px;
    left: 50px;
    width: 490px;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(0%);
    transition: smooth;
}

.box3 h1
{
    color: #00dfc4;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    gap: 10px;
    text-shadow:
    8px 8px 6px rgba(16, 16, 16, 0.753);
    pointer-events: none;
    margin-bottom: 15px;
}
.box3 input[type="text"]
{
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 0px;
    width: 50%;
    height: 30px;
    outline: none;
    color: #fff;
    background-color: #223243;
}

.box3 input[type="submit"]
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.box3 .cut
{
    position: fixed;
    font-size: 2.2em;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding-right: 8px;
    inset: hidden;
    color: #00dfc4;
}

.box5
{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 700px;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(-500%);
}

.box5.active
{
 
    position: absolute;
    top: 50px;
    left: 50px;
    width: 490px;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    border: 8px solid #223243;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    color: #fff;
    z-index: 5;
    background-color: #223243;
    transform: translate(0%);
    transition: smooth;
}

.box5 h1
{
    color: #00dfc4;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 1.5em;
    gap: 10px;
    text-shadow:
    8px 8px 6px rgba(16, 16, 16, 0.753);
    pointer-events: none;
    margin-bottom: 15px;
}
.box5 input[type="number"]
{
    position: relative;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 0px;
    width: 50%;
    height: 30px;
    outline: none;
    color: #fff;
    background-color: #223243;
}

.box5 input[type="submit"]
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 200px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.box5 .cut
{
    position: fixed;
    font-size: 2.2em;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    padding-right: 8px;
    inset: hidden;
    color: #00dfc4;
}


.icon1 form
{
    position: absolute;
    bottom: 30px;
    width: 950px;
    right: 40px;
    color: #00dfc4;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
}

.icon1 input[type="submit"]
{
    position: relative;
    display: flex;
    background: #00dfc4;
    color: #223243;
    width: 150px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 
    5px 5px 15px rgba(0,0,0,0.35),
    inset -5px -5px 15px rgba(255,255,255,0.1), 
    inset 5px 5px 15px rgba(0,0,0,0.35);
    font-size: 1.1em;
}

.icon1 input[type="number"]
{
    display: none;
}

.icon1 input[type="button"]
{
    width: 0px;
    border: none;
}

.icon1 h2
{
    position: absolute;
    right: 50%;
    bottom: 4px;
    color: white;
}
